.register{
    height: 100vh;
    width: 100vw;
    display: flex;
    background: cornsilk;
}
.registerBackground{
    flex: 7;
    background-color: rgb(87, 1, 87);
    background-image: url('https://images.unsplash.com/photo-1451187580459-43490279c0fa?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=752&q=80');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.register_left{
    text-align: right;
    color: white;
    margin-right: 20px;
    margin-top: 10px;
}
.register_left h1{
    background: transparent;
    text-align: right;
    font-weight: 800;
    padding-top: 40px;
}
.register_leftInfo{
    margin-top: 33%;
}
.register_leftInfo p {
    font-weight: 500;
    font-size: 23px;
}
.register_leftInfo p span{
    color: greenyellow;
    font-weight: bold;
}
.register_wrapper{
    flex: 5;
    background: cornsilk;
}
.register_wrapperLogo {
    display: none;
}
.register_right{
    margin: 0 auto;
}
.register_right h4{
    color: white;
    background-color: rgb(87, 1, 87);
    text-align: center;
    text-transform: uppercase;
    border-bottom: 1px solid gainsboro;
    font-size: 20px;
    padding: 10% 0 5px 0;
}
.register_right form{
    text-align: center;
    padding: 10px;
    margin: 40px auto;
}
.register_rightBoxInput{
    display: block;
    text-align: center;
    width: 65%;
    margin: 15px auto;
    border: none;
    border-bottom: 1px solid rgb(87, 1, 87);
    background: transparent;
}
.register_rightBoxInput:focus{
    outline: none;
    border-bottom: 3px solid rgb(87, 1, 87);
}
.register_right form .register_rightBoxButton {
    display: block;
    margin: 25px auto;
    padding: 7px 25px;
    border: none;
    background-color: green;
    color: white;
    border-radius: 15px;
    font-weight: bold;
    font-size: 15px;
    transition: all 0.5s;
    cursor: pointer;
}
.register_right form .register_rightBoxButton:hover{
    background: transparent;
    border: 1px solid green;
    color: green;
}
.register_rightBoxForgot{
    display: block;
    text-align: center;
    font-size: 12px;
}
.register_rightBoxNewAccount a{
    text-decoration: none;
    color: white;
}

.register_rightBoxNewAccount a:hover{
    color: rgb(87, 1, 87);
}
.register_rightBoxNewAccount{
    display: block;
    padding: 7px 25px;
    margin: 20px auto;
    border: none;
    background-color: rgb(87, 1, 87);
    border-radius: 15px;
    font-weight: bold;
    font-size: 15px;
    transition: all 0.5s;
    cursor: pointer;
}
.register_rightBoxNewAccount:hover{
    background: transparent;
    border: 1px solid rgb(87, 1, 87);
}
@media screen and (max-width: 768px){
    .registerBackground{
        display: none;
    }
    .register_wrapper{
        flex: 12;
        height: 100vh;
        width: 100vw;
    }
    .register_right h4{
        padding: 5px;
    }
    .register_wrapperLogo{
        display: block;
        padding: 5px;
    }
    .register_right{
        margin: 10;
    }
    .register_left h1{
        padding: 10px;
    }
    .register_right form{
        padding: 0;
        margin-top: 10px;
    }
    .register_rightBoxInput{
        margin: 7px auto;
    }
}